.mainContent {
  height: 100vh;        /* Ocupa a altura total da tela */
  overflow-y: auto;     /* Rolagem apenas do conteúdo */
  padding: 20px;
  margin-top: -5vw;     /* Ajuste visual opcional */
  transition: all 0.3s ease-in-out;
}

.statsGrid,
.toolbar {
  margin-top: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7vw;
  padding-right: 7vw;
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  transition: all 0.3s ease-in-out;
}